@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper MVCWebAppExample.TagHelpers.*, MVCWebAppExample
@using PustokProject.CoreModels
@using PustokProject.ViewModels
@model PustokProject.ViewModels.AuthorVMS.VM_BookAuthors;

<form class="flex card-body align-items-center" method="post" asp-controller="BookAuthors" asp-action="CreateAuthor" >
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="Name"></label>
    <input  asp-for="Name" type="text"    />
    
    <label asp-for="Surname"></label>
    <input  asp-for="Surname" type="text"    />
    
    <button type="submit" class="btn btn-warning">Create And Add Authors</button>
</form>
@section scripts
{
    <script type="text/javascript">

        $("#table-responsive").on("click", "#pagination a", function (ev) {
            ev.preventDefault();
            let url = $(this).attr('href');
            fetch(url).then(a => a.text()).then(a => $("#table-responsive").html(a));
        });
    </script>
}

<div class="card-body">
    <div id ="table-responsive" class="table-responsive">
        <partial name="_PaginatedColumnsBookAuthors" model="Model.PaginatedModel"/>
    </div>
</div>
